In [183]:
import os
import pandas as pd
import numpy as np

In [184]:
df = os.path.join('/Desktop',' cleaned_dataset_train.csv')

In [185]:
df = pd.read_csv('cleaned_dataset_train.csv',sep=",")   ##comma seperated file :)

In [186]:
df

,Unnamed: 0,id,label,tweet,clean_tweet,Hashtags
0,0,1,0,@user when a father is dysfunctional and is s...,father dysfunct selfish drag kid dysfunction. ...,#run
1,1,2,0,@user @user thanks for #lyft credit i can't us...,thank #lyft credit can't use caus offer wheelc...,#lyft #disapointed #getthanked
2,2,3,0,bihday your majesty,bihday majesti,No hashtags
3,3,4,0,#model i love u take with u all the time in ...,#model love take time urd+-!!! dddd d|d|d|,#model
4,4,5,0,factsguide: society now #motivation,factsguide: societi #motiv,#motivation
5,5,6,0,[2/2] huge fan fare and big talking before the...,[2/2] huge fan fare big talk leave. chao pay d...,#allshowandnogo
6,6,7,0,@user camping tomorrow @user @user @user @use...,camp tomorrow dannya|,No hashtags
7,7,8,0,the next school year is the year for exams.ð...,next school year year exams.d- can't think #sc...,#school #exams #hate #imagine #actorslife #rev...
8,8,9,0,we won!!! love the land!!! #allin #cavs #champ...,won!!! love land!!! #allin #cav #champion #cle...,#allin #cavs #champions #cleveland #clevelandc...
9,9,10,0,@user @user welcome here ! i'm it's so #gr...,welcom ! i'm #gr8 !,#gr8
10,10,11,0,â #ireland consumer price index (mom) climb...,#ireland consum price index (mom) climb previo...,#ireland #blog #silver #gold #forex
11,11,12,0,we are so selfish. #orlando #standwithorlando ...,selfish. #orlando #standwithorlando #pulseshoo...,#orlando #standwithorlando #pulseshooting #orl...
12,12,13,0,i get to see my daddy today!! #80days #getti...,get see daddi today!! #80day #gettingf,#80days #gettingfed
13,13,14,1,@user #cnn calls #michigan middle school 'buil...,#cnn call #michigan middl school 'build wall' ...,#cnn #michigan #tcot
14,14,15,1,no comment! in #australia #opkillingbay #se...,comment! #australia #opkillingbay #seashepherd...,#australia #opkillingbay #seashepherd #helpcov...
15,15,16,0,ouch...junior is angryð#got7 #junior #yugyo...,ouch...junior angryd#got7 #junior #yugyoem #omg,#junior #yugyoem #omg
16,16,17,0,i am thankful for having a paner. #thankful #p...,thank paner. #thank #posit,#thankful #positive
17,17,18,1,retweet if you agree!,retweet agree!,No hashtags
18,18,19,0,its #friday! ð smiles all around via ig use...,#friday! smile around via ig user: #cooki make...,#friday! #cookies
19,19,20,0,"as we all know, essential oils are not made of...","know, essenti oil made chemicals.",No hashtags
20,20,21,0,#euro2016 people blaming ha for conceded goal ...,#euro2016 peopl blame ha conced goal fat roone...,#euro2016
21,21,22,0,sad little dude.. #badday #coneofshame #cats...,sad littl dude.. #badday #coneofsham #cat #pis...,#badday #coneofshame #cats #pissed #funny #laughs
22,22,23,0,product of the day: happy man #wine tool who'...,product day: happi man #wine tool who' #weeken...,#wine #weekend?
23,23,24,1,@user @user lumpy says i am a . prove it lumpy.,lumpi say . prove lumpy.,No hashtags
24,24,25,0,@user #tgif #ff to my #gamedev #indiedev #i...,#tgif #ff #gamedev #indiedev #indiegamedev #sq...,#tgif #ff #gamedev #indiedev #indiegamedev #sq...
25,25,26,0,beautiful sign by vendor 80 for $45.00!! #upsi...,beauti sign vendor $45.00!! #upsideofflorida #...,#upsideofflorida #shopalyssas #love
26,26,27,0,@user all #smiles when #media is !! ðð...,#smile #media !! dd #pressconfer #antalya #tur...,#smiles #media #pressconference #antalya #turk...
27,27,28,0,we had a great panel on the mediatization of t...,great panel mediat public servic #ica16,#ica16
28,28,29,0,happy father's day @user ðððð,happi father' day dddd,No hashtags
29,29,30,0,50 people went to nightclub to have a good nig...,peopl went nightclub good night man' action me...,#rip#orlando
...,...,...,...,...,...,...
31932,31932,31933,0,@user thanks gemma,thank gemma,No hashtags
31933,31933,31934,1,@user judd is a &amp; #homophobic #freemilo #...,judd &amp; #homophob #freemilo #milo #freemilo...,#homophobic #freemilo #milo #freemilo #milo #f...
31934,31934,31935,1,lady banned from kentucky mall. @user #jcpenn...,ladi ban kentucki mall. #jcpenni #kentucki,#jcpenny #kentucky
31935,31935,31936,0,ugh i'm trying to enjoy my happy hour drink &a...,ugh i'm tri enjoy happi hour drink &amp; talk ...,No hashtags
31936,31936,31937,0,want to know how to live a life? do more thi...,want know live life? thing make happi le thing...,No hashtags
31937,31937,31938,0,love island ð,love island,No hashtags
31938,31938,31939,0,my fav actor #vijaysethupathi ! my fav actress...,fav actor #vijaysethupathi ! fav actress ! fav...,#vijaysethupathi
31939,31939,31940,0,whew ð it's a productive and #friday!!!,whew product #friday!!!,#friday!!!
31940,31940,31941,0,@user she's finally here! @user,final here!,No hashtags
31941,31941,31942,0,passed first year of uni #yay #love #pass #uni...,pass first year uni #yay #love #pass #unistud ...,#yay #love #pass #unistudent #photographystude...
31942,31942,31943,0,this week is flying by #humpday - #wednesday...,week fli #humpday - #wednesday #kamp #ucsda|,#humpday #wednesday #kamp #ucsda|
31943,31943,31944,0,@user modeling photoshoot this friday yay #mo...,model photoshoot friday yay #model #me #follow...,#model #me #follow #emo
31944,31944,31945,0,you're surrounded by people who love you (even...,"surround peopl love (even deserve) yet, hateful?",No hashtags
31945,31945,31946,0,feel like... ðð¶ð #dog #summer #hot #h...,feel like... ddpd #dog #summer #hot #help #sun...,#dog #summer #hot #help #sun #day #more
31946,31946,31947,1,@user omfg i'm offended! i'm a mailbox and i'...,omfg i'm offended! i'm mailbox i'm proud! #mai...,#mailboxpride #liberalisme
31947,31947,31948,1,@user @user you don't have the balls to hashta...,ball hashtag say weasel away.. lumpi tony.. di...,No hashtags
31948,31948,31949,1,"makes you ask yourself, who am i? then am i a...","make ask yourself, i? anybody? ....god . oh th...",No hashtags
31949,31949,31950,0,hear one of my new songs! don't go - katie ell...,hear one new songs! go - kati elli #youtub #or...,#youtube #original #music #song #relationship ...
31950,31950,31951,0,"@user you can try to 'tail' us to stop, 'butt...","tri 'tail' u stop, 'butt' we'r good time! #gol...",#goldenretriever #animals
31951,31951,31952,0,i've just posted a new blog: #secondlife #lone...,i'v post new blog: #secondlif #lone #neko,#secondlife #lonely #neko
31952,31952,31953,0,@user you went too far with @user,went far,No hashtags
31953,31953,31954,0,good morning #instagram #shower #water #berlin...,good morn #instagram #shower #water #berlin #b...,#instagram #shower #water #berlin #berlincityg...
31954,31954,31955,0,#holiday bull up: you will dominate your bul...,#holiday bull up: domin bull direct whatev wan...,#holiday
31955,31955,31956,0,less than 2 weeks ð ðð¼ð¹ððµ @us...,le week dd 1/4 d1ddu #ibiza#bringiton#mallorca...,#ibiza#bringiton#mallorca#holidays#summer
31956,31956,31957,0,off fishing tomorrow @user carnt wait first ti...,fish tomorrow carnt wait first time year,No hashtags
31957,31957,31958,0,ate @user isz that youuu?ðððððð...,"ate isz youuu?ddddddddda$?i,",No hashtags
31958,31958,31959,0,to see nina turner on the airwaves trying to...,see nina turner airwav tri wrap mantl genuin h...,#shame #imwithher
31959,31959,31960,0,listening to sad songs on a monday morning otw...,listen sad song monday morn otw work sad,No hashtags
31960,31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...","#sikh #templ vandalis #calgary, #wso condemn act","#sikh #temple #calgary, #wso"
31961,31961,31962,0,thank you @user for you follow,thank follow,No hashtags

In [187]:

df = df.drop(labels= ['id','Unnamed: 0','Hashtags'],axis=1)

In [188]:
df.head()

,label,tweet,clean_tweet
0,0,@user when a father is dysfunctional and is s...,father dysfunct selfish drag kid dysfunction. ...
1,0,@user @user thanks for #lyft credit i can't us...,thank #lyft credit can't use caus offer wheelc...
2,0,bihday your majesty,bihday majesti
3,0,#model i love u take with u all the time in ...,#model love take time urd+-!!! dddd d|d|d|
4,0,factsguide: society now #motivation,factsguide: societi #motiv

In [165]:
df.shape

(31962, 3)

In [189]:
df.head()

,label,tweet,clean_tweet
0,0,@user when a father is dysfunctional and is s...,father dysfunct selfish drag kid dysfunction. ...
1,0,@user @user thanks for #lyft credit i can't us...,thank #lyft credit can't use caus offer wheelc...
2,0,bihday your majesty,bihday majesti
3,0,#model i love u take with u all the time in ...,#model love take time urd+-!!! dddd d|d|d|
4,0,factsguide: society now #motivation,factsguide: societi #motiv

In [190]:
df.label

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       1
15       0
16       0
17       1
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
        ..
31932    0
31933    1
31934    1
31935    0
31936    0
31937    0
31938    0
31939    0
31940    0
31941    0
31942    0
31943    0
31944    0
31945    0
31946    1
31947    1
31948    1
31949    0
31950    0
31951    0
31952    0
31953    0
31954    0
31955    0
31956    0
31957    0
31958    0
31959    0
31960    1
31961    0
Name: label, Length: 31962, dtype: int64

In [176]:
!pip install unidecode

Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
    100% |████████████████████████████████| 245kB 1.0MB/s ta 0:00:01
Installing collected packages: unidecode
Successfully installed unidecode-1.1.1

In [193]:
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import unidecode
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import warnings
warnings.filterwarnings("ignore")
from nltk.stem import WordNetLemmatizer
nltk.download("wordnet")
from nltk.stem import PorterStemmer
nltk.download("punkt")
from nltk.tokenize import word_tokenize
import operator 
from collections import Counter
import re

SyntaxError: invalid syntax (probability.py, line 333)

In [182]:

df['clean_tweet']=df['tweet'].str.replace("@[\w]*","")
df['clean_tweet']=df['clean_tweet'].str.replace("[^a-zA-Z#]", " ")
df['clean_tweet']=df['clean_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
tokenized_tweet = df['clean_tweet'].apply(lambda x: x.split())
tokenized_tweet= tokenized_tweet.apply(lambda x: [WordNetLemmatizer().lemmatize(i) for i in x if i not in stop and len(i) > 2])
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i]= ' '.join(tokenized_tweet[i])
                                        
data['clean_tweet']= tokenized_tweet
data.head()

SyntaxError: invalid syntax (probability.py, line 333)

# Splitting data

In [125]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df['clean_tweet'].values,df['label'].values,random_state=42, stratify=df['label'].values)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((23971,), (7991,), (23971,), (7991,))

# Bag of words

In [146]:
from sklearn.feature_extraction.text import CountVectorizer
bow_vectorizer = CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')

bow = bow_vectorizer.fit_transform(X_train)
bow.shape

ValueError: np.nan is an invalid document, expected byte or unicode string.

In [139]:
len(y_test)

6393

In [57]:
type(y_temp)

list

In [58]:
X_temp['label'] = y_temp

/home/sanchita/.local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [59]:
X_temp.head()

                                             clean_tweet  label
7561   i'm hungri #breakfast #kitchen gift#enjoy eat ...      0
10813                               pain nail like month      0
1350         dad, best job i'v ever had!!! father day!!!      0
17662  #chickentrump jesz12: one #person' #disast ano...      0
4126   i'm excited!! can't wait see weekend memphis! ...      0

In [60]:
X_temp.label[2]

0

In [61]:
type(X_temp)

pandas.core.frame.DataFrame

In [62]:
nonhate = X_temp[X_temp['label'] == 0]

In [72]:
nonhate.head()

                                             clean_tweet  label
7561   i'm hungri #breakfast #kitchen gift#enjoy eat ...      0
10813                               pain nail like month      0
1350         dad, best job i'v ever had!!! father day!!!      0
17662  #chickentrump jesz12: one #person' #disast ano...      0
4126   i'm excited!! can't wait see weekend memphis! ...      0

In [64]:
hate = X_temp[X_temp.label == 1]

In [66]:
hate.shape[0]

2004

In [67]:
nonhatesample = nonhate.sample(n = hate.shape[0])    ##Sample narrow downing

In [68]:
nonhatesample.head()

                                             clean_tweet  label
6876   #late #ff #gamedev #indiedev #indiegamedev #sq...      0
2036   could derrick rose never got hu alway haunt ch...      0
18459  girl take girl clearli bc they'r jealou sad pa...      0
9928   anoth angle. #ford #fordaustralia #fordfocusr ...      0
2726                     wholesome. #i_am #posit #affirm      0

In [73]:
nonhatesample.shape

(2004, 2)

In [74]:
ds = pd.concat([hate, nonhatesample], axis = 0)

In [75]:
ds.tail()

                                             clean_tweet  label
31503  lost bet indi titl announc #xboxe3 sometim goo...      0
28222  hunter #leafsa gather #draft2016 skill = #1 im...      0
5428                                i'm #grate - #affirm      0
1483   happi girl prettiest #vscocam #vscocamph #vsco...      0
25588                                 look like anymore.      0